*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #2f65a1;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}

.canvaswrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

#canvas{
    width: 100%;
}

#messagecontainer{
    position: absolute;
    top: 30%;
    left: 30%;
    height: 40%;
    width: 40%;
    border: 10px solid #1c1d1f;
    align-items:center;
    justify-content:center;
    display: none;

}

#bigtextcontainer{
    position: absolute;
    top: 30%;
    left: 30%;
    height: 40%;
    width: 40%;
    border: 10px solid #1c1d1f;
    font-size: 1vw;
    align-items:center;
    justify-content:center;
    display: flex;
    /* transform: translate(-50 , -50); */
}


#winnerform{




}
